.top {
    margin-top: 40px;
    display: flex;
    margin: 5%;
}

.half-width {
    width: 100%;
}

.half-width img {
    margin-left: 10%;
    width: 60%
}

#border-left {
    border-left: 10px solid palegreen;
    border-radius: 5px;
}

.text {
    padding: 40px;
    box-shadow: 5px 2px 5px 2px gainsboro;
    border-radius: 5px;
    font-size: 20px;
    color: goldenrod;
}

a {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 15px 40px;
    border-radius: 8px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 50px;
    color: chocolate;

}

.orange-color {
    color: burlywood;
}

.container {
    display: flex;
    margin-left: 5%;
    justify-content: space-around;
}

.half {
    width: 370px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: cornsilk;
    box-shadow: 5px 5px 5px gray;
    border-left: greenyellow;
}

.half img {
    width: 50%;
}

br {
    margin: 30px;
}

.head-line {
    text-align: center;
    color: chocolate;
}

.contacts {
    margin-top: 40px;
    box-shadow: 7px 5px 7px 5px gainsboro;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    margin-left: 8%;
    padding: 30px;
}

hr {
    width: 70%;
    margin: 10px;
    margin-left: 15%;
}

ul {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

.fa-facebook,
.fa-linkedin {
    color: blue;
    background-color: white;
    border-radius: 50%;
    margin-right: 8px;
}

.fa-youtube {
    color: red;
    background-color: white;
    border-radius: 50%;
    margin-right: 8px;
}

.fa-phone {
    color: aqua;
    margin-right: 8px;
}

.fa-tiktok,
.fa-github {
    margin-right: 8px;
}

.fa-copyright {
    color: blue;
    margin: 5px;
    size: 5px;
    align-items: center;
}

footer {
    margin-top: 40px;
    background-color: #000000;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    text-align: center;
}